// This partial requires the following variable:
// - $kiba-html-font: Font family for the HTML element

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	font-family: $kiba-html-font;
	font-feature-settings: normal;
	font-variation-settings: normal;
}

body {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
