// This partial requires the following variables:
// - None

.button {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid $kiba-gray;
	color: black;
	background-color: #F0F0F0;
	border-radius: 4px;

	&--disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&--link {
		text-decoration: none;
		display: inline-block;
		background-color: #F0F0F0;
		padding: 0.5rem 1rem;
	}

	&:hover {
		cursor: pointer;
	}
}