// This partial requires the following variable:
// - $kiba-mq-medium: Maximum width for medium screens
%navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px #f8f9fa;
	padding: 1rem 2rem;
}

%navbar__brand {
	font-weight: bold;
	font-size: 1.5rem;
}

%navbar__menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

%navbar__item {
	margin: 0.5rem;
}

%navbar__link {
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	color: black;
	text-decoration: none;
}

.navbar {
	@extend %navbar;

	&__brand {
		@extend %navbar__brand;
	}

	&__menu {
		@extend %navbar__menu;

		&__item {
			@extend %navbar__item;
		}

		&__link {
			@extend %navbar__link;
			color: black;
		}
	}

	@media (max-width: $kiba-mq-medium) {
		&__menu {
			flex-direction: column;

			&__item {
				margin: 0;
			}
		}
	}
}
