// This partial requires the following variables:
// - None
.table {
  border-collapse: collapse;

  &--fluid {
    width: 100%;
  }

  &--striped {
    .table__row {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:nth-child(odd) {
        background-color: white;
      }
    }
  }

  &--horizontal-lines {
    .table__row {
      border-bottom: 1px solid #ccc;
    }
  }

  &__head {
    font-weight: bold;
    background-color: #f2f2f2;
  }

  &__header,
  &__cell {
    padding: 8px;
    border: 1px solid #ccc;
  }
}