$kiba-html-font: ui-sans-serif, Arial, sans-serif;

$kiba-mq-small: 36em;
$kiba-mq-medium: 48em;
$kiba-mq-large: 62em;
$kiba-mq-xlarge: 75em;

$kiba-container-small-width: 33.75em;
$kiba-container-medium-width: 45em;
$kiba-container-large-width: 60em;
$kiba-container-xlarge-width: 71.25em;

// utils;
$kiba-primary: #007bff;
$kiba-secondary: #6c757d;
$kiba-tertiary: #6c757d;
$kiba-success: #28a745;
$kiba-danger: #dc3545;
$kiba-warning: #ffc107;
$kiba-info: #17a2b8;
$kiba-light: #f8f9fa;
$kiba-dark: #343a40;
$kiba-gray: #6c757d;
$kiba-red: #dc3545;
$kiba-blue: #007bff;
$kiba-green: #28a745;
$kiba-yellow: #ffc107;
$kiba-white: #fff;
$kiba-black: #000;