:root {
    --kiba-html-font: ui-sans-serif,Arial,sans-serif;
    --kiba-container-small-width: 33.75em;
    --kiba-container-medium-width: 45em;
    --kiba-container-large-width: 60em;
    --kiba-container-xlarge-width: 71.25em;
    --kiba-primary: #007bff;
    --kiba-secondary: #6c757d;
    --kiba-tertiary: #6c757d;
    --kiba-success: #28a745;
    --kiba-danger: #dc3545;
    --kiba-warning: #ffc107;
    --kiba-info: #17a2b8;
    --kiba-light: #f8f9fa;
    --kiba-dark: #343a40;
    --kiba-gray: #6c757d;
    --kiba-red: #dc3545;
    --kiba-blue: #007bff;
    --kiba-green: #28a745;
    --kiba-yellow: #ffc107;
    --kiba-white: #fff;
    --kiba-black: #000;
  }

  $kiba-html-font: var(--kiba-html-font);
  $kiba-mq-small: 36em;
  $kiba-mq-medium: 48em;
  $kiba-mq-large: 62em;
  $kiba-mq-xlarge: 75em;
  $kiba-container-small-width: var(--kiba-container-small-width);
  $kiba-container-medium-width: var(--kiba-container-medium-width);
  $kiba-container-large-width: var(--kiba-container-large-width);
  $kiba-container-xlarge-width: var(--kiba-container-xlarge-width);
  $kiba-primary: var(--kiba-primary);
  $kiba-secondary: var(--kiba-secondary);
  $kiba-tertiary: var(--kiba-tertiary);
  $kiba-success: var(--kiba-success);
  $kiba-danger: var(--kiba-danger);
  $kiba-warning: var(--kiba-warning);
  $kiba-info: var(--kiba-info);
  $kiba-light: var(--kiba-light);
  $kiba-dark: var(--kiba-dark);
  $kiba-gray: var(--kiba-gray);
  $kiba-red: var(--kiba-red);
  $kiba-blue: var(--kiba-blue);
  $kiba-green: var(--kiba-green);
  $kiba-yellow: var(--kiba-yellow);
  $kiba-white: var(--kiba-white);
  $kiba-black: var(--kiba-black);
  