.flex {
	display: flex
}

.flex-row {
	flex-direction: row
}

.flex-wrap {
	flex-wrap: wrap
}

.justify-center {
	justify-content: center
}

.justify-between {
	justify-content: space-between
}

.items-center {
	align-items: center
}

.self-center {
	align-self: center
}

.order-1 {
	order: 1
}

.order-2 {
	order: 2
}

.order-3 {
	order: 3
}

.font-xs {
	font-size: .5rem
}

.font-sm {
	font-size: .75rem
}

.font-base {
	font-size: 1rem
}

.font-lg {
	font-size: 1.5rem
}

.font-xl {
	font-size: 2rem
}

.font-xxl {
	font-size: 3rem
}

.font-bold {
	font-weight: bold
}

.uppercase {
	text-transform: uppercase
}

.underline {
	text-decoration: underline
}

.line-through {
	text-decoration: line-through
}

.italic {
	font-style: italic
}

.block {
	display: block
}

.inline-block {
	display: inline-block
}

.inline {
	display: inline
}

.hidden {
	display: none
}

.relative {
	position: relative
}

.absolute {
	position: absolute
}

.fixed {
	position: fixed
}

.top-0 {
	top: 0
}

.right-0 {
	right: 0
}

.bottom-0 {
	bottom: 0
}

.left-0 {
	left: 0
}

.pointer {
	cursor: pointer
}

.opacity-25 {
	opacity: .25
}

.opacity-50 {
	opacity: .5
}

.opacity-75 {
	opacity: .75
}

.opacity-100 {
	opacity: 1
}

.transition {
	transition: all .3s ease
}

.hover:opacity-50:hover {
	opacity: .5
}

.focus:outline-none:focus {
	outline: 0
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.overflow-auto {
	overflow: auto
}

.overflow-hidden {
	overflow: hidden
}

.overflow-scroll {
	overflow: scroll
}

.overflow-visible {
	overflow: visible
}

.no-underline {
	text-decoration: none
}

.break-words {
	word-wrap: break-word
}

.select-none {
	user-select: none
}

.fw-normal {
	font-weight: normal
}

.fw-light {
	font-weight: 300
}

.fw-medium {
	font-weight: 500
}

.fw-semibold {
	font-weight: 600
}

.fw-black {
	font-weight: 900
}

.lh-tight {
	line-height: 1.25
}

.lh-loose {
	line-height: 1.5
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.text-justify {
	text-align: justify
}

.whitespace-normal {
	white-space: normal
}

.whitespace-nowrap {
	white-space: nowrap
}

.whitespace-pre {
	white-space: pre
}

.whitespace-pre-wrap {
	white-space: pre-wrap
}

.break-normal {
	word-break: normal
}

.break-words {
	word-break: break-word
}

.break-all {
	word-break: break-all
}

.shadow-sm {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
}

.shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.shadow-md {
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
}

.shadow-lg {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.shadow-xl {
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)
}

.rounded-none {
	border-radius: 0
}

.rounded-sm {
	border-radius: .125rem
}

.rounded {
	border-radius: .25rem
}

.rounded-md {
	border-radius: .375rem
}

.rounded-lg {
	border-radius: .5rem
}

.rounded-xl {
	border-radius: .75rem
}

.rounded-2xl {
	border-radius: 1rem
}

.rounded-full {
	border-radius: 100%;
}

.p-0 {
	padding: 0
}

.p-1 {
	padding: .25rem
}

.p-2 {
	padding: .5rem
}

.p-4 {
	padding: 1rem
}

.p-8 {
	padding: 2rem
}

.p-16 {
	padding: 4rem
}

.px-0 {
	padding-left: 0;
	padding-right: 0
}

.px-1 {
	padding-left: .25rem;
	padding-right: .25rem
}

.px-2 {
	padding-left: .5rem;
	padding-right: .5rem
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem
}

.px-8 {
	padding-left: 2rem;
	padding-right: 2rem
}

.px-16 {
	padding-left: 4rem;
	padding-right: 4rem
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0
}

.py-1 {
	padding-top: .25rem;
	padding-bottom: .25rem
}

.py-2 {
	padding-top: .5rem;
	padding-bottom: .5rem
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.py-8 {
	padding-top: 2rem;
	padding-bottom: 2rem
}

.py-16 {
	padding-top: 4rem;
	padding-bottom: 4rem
}

.pl-0 {
	padding-left: 0
}

.pl-1 {
	padding-left: .25rem
}

.pl-2 {
	padding-left: .5rem
}

.pl-4 {
	padding-left: 1rem
}

.pl-8 {
	padding-left: 2rem
}

.pl-16 {
	padding-left: 4rem
}

.pr-0 {
	padding-right: 0
}

.pr-1 {
	padding-right: .25rem
}

.pr-2 {
	padding-right: .5rem
}

.pr-4 {
	padding-right: 1rem
}

.pr-8 {
	padding-right: 2rem
}

.pr-16 {
	padding-right: 4rem
}

.m-0 {
	margin: 0
}

.m-1 {
	margin: .25rem
}

.m-2 {
	margin: .5rem
}

.m-4 {
	margin: 1rem
}

.m-8 {
	margin: 2rem
}

.m-16 {
	margin: 4rem
}

.mx-0 {
	margin-left: 0;
	margin-right: 0
}

.mx-1 {
	margin-left: .25rem;
	margin-right: .25rem
}

.mx-2 {
	margin-left: .5rem;
	margin-right: .5rem
}

.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem
}

.mx-8 {
	margin-left: 2rem;
	margin-right: 2rem
}

.mx-16 {
	margin-left: 4rem;
	margin-right: 4rem
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0
}

.my-1 {
	margin-top: .25rem;
	margin-bottom: .25rem
}

.my-2 {
	margin-top: .5rem;
	margin-bottom: .5rem
}

.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem
}

.my-8 {
	margin-top: 2rem;
	margin-bottom: 2rem
}

.my-16 {
	margin-top: 4rem;
	margin-bottom: 4rem
}

.mt-0 {
	margin-top: 0
}

.mt-1 {
	margin-top: .25rem
}

.mt-2 {
	margin-top: .5rem
}

.mt-4 {
	margin-top: 1rem
}

.mt-8 {
	margin-top: 2rem
}

.mt-16 {
	margin-top: 4rem
}

.mb-0 {
	margin-bottom: 0
}

.mb-1 {
	margin-bottom: .25rem
}

.mb-2 {
	margin-bottom: .5rem
}

.mb-4 {
	margin-bottom: 1rem
}

.mb-8 {
	margin-bottom: 2rem
}

.mb-16 {
	margin-bottom: 4rem
}

.ml-0 {
	margin-left: 0
}

.ml-1 {
	margin-left: .25rem
}

.ml-2 {
	margin-left: .5rem
}

.ml-4 {
	margin-left: 1rem
}

.ml-8 {
	margin-left: 2rem
}

.ml-16 {
	margin-left: 4rem
}

.mr-0 {
	margin-right: 0
}

.mr-1 {
	margin-right: .25rem
}

.mr-2 {
	margin-right: .5rem
}

.mr-4 {
	margin-right: 1rem
}

.mr-8 {
	margin-right: 2rem
}

.mr-16 {
	margin-right: 4rem
}

.bg-primary {
	background-color: $kiba-primary;
}

.text-primary {
	color: $kiba-primary;
}

.bg-secondary {
	background-color: $kiba-secondary;
}

.text-secondary {
	color: $kiba-secondary;
}

.bg-tertiary {
	background-color: $kiba-tertiary;
}

.text-tertiary {
	color: $kiba-tertiary;
}

.bg-success {
	background-color: $kiba-success;
}

.text-success {
	color: $kiba-success;
}

.bg-danger {
	background-color: $kiba-danger;
}

.text-danger {
	color: $kiba-danger;
}

.bg-warning {
	background-color: $kiba-warning;
}

.text-warning {
	color: $kiba-warning;
}

.bg-info {
	background-color: $kiba-info;
}

.text-info {
	color: $kiba-info;
}

.bg-light {
	background-color: $kiba-light;
}

.text-light {
	color: $kiba-light;
}

.bg-dark {
	background-color: $kiba-dark;
}

.text-dark {
	color: $kiba-dark;
}

.bg-gray {
	background-color: $kiba-gray;
}

.text-gray {
	color: $kiba-gray;
}

.bg-red {
	background-color: $kiba-red;
}

.text-red {
	color: $kiba-red;
}

.bg-blue {
	background-color: $kiba-blue;
}

.text-blue {
	color: $kiba-blue;
}

.bg-green {
	background-color: $kiba-green;
}

.text-green {
	color: $kiba-green;
}

.bg-yellow {
	background-color: $kiba-yellow;
}

.text-yellow {
	color: $kiba-yellow;
}

.bg-white {
	background-color: $kiba-white;
}

.text-white {
	color: $kiba-white;
}

.bg-black {
	background-color: $kiba-black;
}

.text-black {
	color: $kiba-black;
}